section.contact-form.contact-form__layout 
  .contact-form__text 
    h2.contact-form__title Есть проект? Напишите нам
    p.contact-form__about Про ваш проект О задачах Об ожиданиях Про материалы и ресурс О бюджете и сроках
    p.contact-form__services Это поможет нам сделать подходящее предложение.
  form.contact-form
    input#name(type="text", name="name") Имя
    input#number(type="number", name="tel") Телефон
    button(type="submit") Подать заявку
    input#checkbox(type="checkbox", name="check") Я согласен с условием передачи информации
