section.footer-section
  .container 
    footer.footer.footer-layout
      .footer-contacts 
        .footer__contacts-info 
          .footer-logo 
            a(href="#") 
              img(src="images/swd-logo.png", alt="swd studio logo")
          p.info-text Web студия. Создание сайтов. Продвижение сайтов. Реклама в социальных сетях
          .social-links 
            .social-link
              a(href="#") Instagram 
            .social-link
              a(href="#") Facebook
        .footer__contacts-links
          .contacts-links 
            h4.footer-title Связаться
            .links-col 
              a(href="tel:+380968858899") +38 096 885 88 99
              a(href="tel:+380958859988") +38 095 885 99 88
            .links-col  
              a(href="tel:+380567550939") +38 056 755 09 39
              a(href="mailto:@swd.studioweb") @swd.studioweb
          .footer__nav-links 
            a(href="#").footer__nav-link Портфолио
            a(href="#").footer__nav-link Направления
            a(href="#").footer__nav-link О нас
            a(href="#").footer__nav-link Контакты
          p.footer-text Украина, г. Кривой Рог, Днепр, Киев и другие города Украины
      .footer-info 
        p.info-text © SWD. All rights reserved 2021
        p.info-text 
          a(href="#") Privacy Policy