section.header-section
  .container 
    header.header.header-layout 
      .logo-layout 
        img(src="images/swd-logo.png", alt="swd studio logo")
      .contacts-layout 
        a(href="tel:+380968858899") +38 096 885 88 99
        button.header__btn Новый проект