body {
  background: #0D0D0D;
  color: #F6F6F6;
   a {
    color: #F6F6F6;
   }
}
.header__btn{
  background: linear-gradient(180deg, #ECCC5A 0.98%, #E7B234 54.86%, #D2992D 100%);
  font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 123.29%;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #0D0D0D;
    padding:14px 16px;
}